h1,
.main,
footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: aquamarine;
}

span {
    color: rgb(33, 36, 54);
    font-weight: 900;
}