/* Phone view */

@media only screen and (max-width: 37.5em) {
    main {
        grid-template-columns: 1fr;
    }
    .one {
        margin: 15px;
    }
    .two {
        grid-column: 1;
        margin: 15px;
    }
    .three {
        grid-column: 1;
        margin: 15px;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    footer {
        padding: 0.8rem;
    }
}