* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header,
.down {
    background-color: #070220;
    font-family: "Bebas Neue", sans-serif;
    padding: 11px;
}

.logo h1 {
    font-size: 40px;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero picture {
    width: 100%;
}

.hero picture img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #20021b;
    padding: 15px;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "PT Sans Narrow", sans-serif;
}

a:hover {
    color: rgb(0, 195, 255);
    transition: 1s;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fdfdfd;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    font-weight: 900;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.open a {
    display: block;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


/* Discover HTML */

.demo {
    background-color: #FAAF00;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
}

#welcomeMessage {
    font-size: 20px;
    font-weight: 900;
}

.contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    background-color: #5BCCD6;
    /* gap: 90px; */
}

.sidebar {
    grid-column: 1/2;
    text-align: center;
}

.sidebar .paragraph {
    box-shadow: 1px 1px 10px;
}

.paragraph {
    border: 1px solid rgb(77, 74, 74);
    background-color: #eedcdc;
    padding: 5px;
}

.paragraph p {
    font-family: "PT Sans Narrow", sans-serif;
}

.gallery {
    grid-column: 2/3;
    /* padding: 0px 0px 0px 100px; */
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
}

.gallery img {
    max-width: 200px;
    max-height: 190px;
}

.gallery figure img {
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    padding: 4px;
}

.sidebar table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 30px;
}

th,
td {
    border: 2px solid black;
    text-align: center;
}

th {
    background-color: #d3caca;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    height: 50px;
}

caption {
    color: rgb(0, 0, 0);
    font-weight: bold;
}