* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header,
.down {
    background-color: #070220;
    font-family: "Bebas Neue", sans-serif;
    padding: 11px 0px;
}

.logo h1 {
    font-size: 40px;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero picture {
    width: 100%;
}

.hero picture img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8a1977;
    padding: 15px;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "PT Sans Narrow", sans-serif;
}

a:hover {
    color: rgb(0, 195, 255);
    transition: 1s;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fdfdfd;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    font-weight: 900;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.open a {
    display: block;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.down .proyect {
    color: yellow;
}


/* Discover HTML */

.demo {
    background-color: #FAAF00;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
}

#welcomeMessage {
    font-size: 20px;
    font-weight: 900;
}

.contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    background-color: #5BCCD6;
    /* gap: 90px; */
}

.sidebar {
    grid-column: 1/2;
    text-align: center;
}

.sidebar .paragraph {
    box-shadow: 1px 1px 10px;
}

.paragraph {
    border: 1px solid rgb(77, 74, 74);
    background-color: #eedcdc;
    padding: 5px;
}

.paragraph p {
    font-family: "PT Sans Narrow", sans-serif;
}

.gallery {
    grid-column: 2/3;
    /* padding: 0px 0px 0px 100px; */
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
}

.gallery img {
    max-width: 200px;
    max-height: 190px;
}

.gallery figure img {
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    padding: 4px;
}

.sidebar table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 30px;
}

th,
td {
    border: 2px solid black;
    text-align: center;
}

th {
    background-color: #d3caca;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    height: 50px;
}

caption {
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* Join Page */

.caracter {
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 5px;
    font-family: "PT Sans Narrow", sans-serif;
}

.nivel ul {
    list-style-type: none;
    padding: 0;
    font-size: 24.6px;
}

.wf1 legend {
    color: blue;
    padding: 0 .5rem;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    /* width: 40%; */
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="tel"],
select,
textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 button[type="submit"] {
    border: none;
    background-image: linear-gradient(#62b34a, #0e6f3e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.wf1 input:required {
    border-bottom: solid 8px red;
}

.wf1 input:required:valid {
    border-bottom: solid 8px rgba(67, 243, 14, 0.795);
}

.beneficios {
    margin: 2.5rem 0;
}

.beneficios .nivel {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 9px 2%;
    margin-bottom: 20px;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-color: #206368;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 200px;
}


/* Directory Page */

.negocios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "PT Sans Narrow", sans-serif;
}

#fullInfo,
#summary {
    font-family: "PT Sans Narrow", sans-serif;
}

.negocios section,
p {
    margin: auto;
    text-align: center;
}

.negocios h3 {
    text-align: center;
    color: rgb(7, 110, 151);
}

.negocios a {
    color: rgb(13, 38, 177);
    text-decoration: none;
}

.menu {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.menu button {
    height: 30px;
    width: 100px;
}

.zebra .empresa:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .negocios {
        grid-template-columns: 1fr;
    }
    .menu {
        display: flex;
        /* Mostrar los botones en vista móvil */
        justify-content: center;
        /* Centrar los botones horizontalmente */
        margin-bottom: 1rem;
        /* Espaciado inferior */
    }
    .negocios .empresa:nth-child(even) {
        background-color: #f2f2f2;
    }
}