@media screen and (max-width:894px) {
    header,
    .navbar ul {
        display: flex;
        flex-direction: column;
    }
    .navbar ul {
        padding: 25px 0px 25px 0px;
    }
    #menu {
        display: block;
    }
    .navbar a {
        display: none;
        /* Ocultar los enlaces del menú por defecto */
    }
    .navbar.open a {
        display: block;
        /* Mostrar los enlaces cuando el menú está abierto */
    }
    .navbar ul {
        margin: 0;
        padding: 0;
        /* Elimina si hay espacios en el nav*/
    }
    .contenedor {
        display: flex;
        flex-direction: column;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 30px;
        border: 2px solid gray;
        margin-top: 7px;
    }
}

@media screen and (max-width: 1250px) {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .beneficios {
        margin: 0px 9px;
    }
}