body {
    background-color: rgb(97, 22, 168);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1,
footer {
    color: aliceblue;
}

footer {
    font-size: large;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    background-color: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}