* {
    margin: 0;
    /* padding: 0; */
}

header,
footer {
    /*Aqui le da color de fondo y a las letras.*/
    background-color: rgba(8, 59, 153, 0.863);
    color: aliceblue;
}

#menu {
    font-size: 2.5rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation a {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: none;
}

.navigation a:hover {
    background-color: black;
    color: #e9ec12;
    font-weight: 700;
}

.open a {
    display: block;
}

h3 {
    background-color: rgba(8, 59, 153, 0.863);
    color: aliceblue;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

header,
.navigation {
    /*Aquí le da el ancho maximo al header y a todo el nav.*/
    max-width: 900px;
    /* height: 240px; */
    text-align: center;
}

footer {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: yellow;
}

header {
    text-align: center;
    margin: 0 auto;
    /* height: auto; */
}

h2 {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0 auto;
}

img,
h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    border-radius: 60px;
    padding: 40px;
    margin-right: 10px;
}

.navigation {
    background-color: black;
}

ul li a {
    color: rgb(44, 7, 7);
}

a:active {
    outline: none;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

ul li a:visited {
    color: black;
}

ul li a:hover {
    color: rgb(218, 9, 96);
}

u,
li,
a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.navigation {
    background-color: #060613;
    margin: 0 auto;
    /* overflow: hidden; */
    /* height: auto; */
}

div {
    font-size: 19px;
}

main {
    /*esto hace el ancho maximo del main.*/
    max-width: 900px;
    /*esto centra el main.*/
    margin: 0 auto;
}

.card01,
.card02 {
    /* Establece el ancho mínimo que desees */
    width: 92%;
    /* Centra los div's en la pantalla */
    margin: 0 auto;
}

.card01,
.card02 {
    padding: 5px;
    border: 1px solid #d4cbcb;
}

.card01,
.card02 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1,
h3 {
    font-family: Fira Sans;
}

h2,
footer {
    font-family: Barlow Condensed;
    margin-top: 10px;
}

ol li {
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    max-width: 900px;
}

#map iframe {
    width: 93.2%;
    height: 300px;
    border: 0;
    margin: 0 auto;
    border: 1px solid #d4cbcb;
}