header,
footer {
    background-color: rgba(8, 59, 153, 0.863);
    color: aliceblue;
}

h3 {
    background-color: rgba(8, 59, 153, 0.863);
    color: aliceblue;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

header,
nav {
    max-width: 900px;
    height: 240px;
    text-align: center;
}

footer {
    max-width: 900px;
    height: 140px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    font-size: 18px;
}

header {
    text-align: center;
    margin: 0 auto;
    height: auto;
}

h2 {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    max-width: 63%;
    width: 895px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 auto 10px;
}

img,
h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    padding: 40px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

nav {
    background-color: black;
}

ul li a {
    color: rgb(44, 7, 7);
    padding: 10px;
    text-align: center;
}

a:active {
    outline: none;
    text-decoration: none;
}

a:visited {
    color: purple;
}

li {
    list-style-type: none;
}

nav {
    background-color: #060613;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}

div {
    font-size: 18px;
}


/* main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
} */

main {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card01,
.card02 {
    width: 100%;
    /* Establece el ancho mínimo que desees */
    margin: 0 auto;
    /* Centra el main en la pantalla */
    padding: 20px;
}

.card01,
.card02 {
    padding: 10px;
    border: 1px solid #d4cbcb;
}

.card01 {
    max-width: 63%;
}

.card01,
.card02 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card02 {
    max-width: 50%;
}

body {
    margin: 0;
}

h1,
h3 {
    font-family: Fira Sans;
}

h2,
footer {
    font-family: Barlow Condensed;
}

ol li {
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}