@media screen and (min-width:784px) {
    nav ol {
        display: flex;
    }
    nav ol li {
        flex: 1 1 100%
    }
    /* main {
        display: grid;
        justify-content: center;
        grid-template-columns: 30% 20%;
    }
    .card01 {
        grid-column: 1/2;
    }
    .card02 {
        grid-column: 2/3;
    } */
}