@media screen and (min-width:784px) {
    nav ol {
        display: flex;
    }
    nav ol li {
        flex: 1 1 100%
    }
    main {
        display: grid;
        grid-template-columns: 40% 10%;
    }
    .card01 {
        grid-column: 1/3;
    }
    .card02 {
        grid-column: 3/4;
    }
}