@media screen and (min-width:784px) {
    .navigation ol {
        display: flex;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation ol li {
        flex: 1 1 100%
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    /* main {
        display: grid;
        justify-content: center;
        grid-template-columns: 30% 20%;
    }
    .card01 {
        grid-column: 1/2;
    }
    .card02 {
        grid-column: 2/3;
    } */
    #menu {
        display: none;
        /* hide hamburger button */
    }
    #map {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}